<% sleep 2 %>
<h2>Featured Product:</h2>
<div id="carousel-custom" class="carousel slide" data-ride="carousel">  
  <!-- Wrapper for slides -->
  <% cache do %>
  <div class="carousel-outer">
    <div class="carousel-inner">
    	<% @products.each do |product| %>
      <div class="item<%= " active" if product == @products.first %>">
        <%= image_tag(product.image_url, class: "img-responsive") %>
      </div>
      <% end %>
    </div>
    <!-- Controls -->
    <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
      <span class='glyphicon glyphicon-chevron-left'></span>
    </a>
    <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
      <span class='glyphicon glyphicon-chevron-right'></span>
    </a>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators mCustomScrollbar">
    <% @products.each do |product| %>      
    <li data-target="#carousel-custom" data-slide-to="1" class="active"><%= image_tag(product.image_url, class: "img-responsive") %></li>
    <li data-target="#carousel-custom" data-slide-to="2"><%= image_tag(product.image_url, class: "img-responsive") %></li>
    <li data-target="#carousel-custom" data-slide-to="3"><%= image_tag(product.image_url, class: "img-responsive") %></li>
    <% end %>
  <% end %>
  </ol>
</div>