<div class="container">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <% cache @product do %>
        <%= image_tag(@product.image_url, class: "img-zoom img-responsive", data_zoom_image: @product.image_url ) %>
        <div class="caption">
          <h3><%= @product.name %></h3>
          <p>
            <strong>Description:</strong>
            <%= @product.description %>
          </p>
          <p>
            <strong>Color</strong>
            <%= @product.color %>
          </p>

          <p>
            <strong>Price</strong>
            <%= @product.price %>
          </p>

          <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"> </div> </p>

          <% end %>

          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>

          
          <%= render 'new_comment' %>

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-md-offset-2">
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      
      <%= render 'comments' %>
      <div class="pager">
      <%= will_paginate @comments, render: BootstrapPagination::Rails %>
      </div>


      <div>
        

      </div>
    </div>
    
  </div>





<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
